
.thumbnail_images ul li:hover {
  border: 2px solid #000;
}
.thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
}
.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: inline-block;
  align-items: center;
  margin-top: 10px;
}

.product-img {
  height: 242px;
  text-align: center;
  border: 1px solid #f5f4f4;
  padding: 3px;
}
.product-img img {
  height: 100%;
  width: 100%;
}
